{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{%endblock%}</title>
    <link rel="stylesheet" href="{% static 'css/daisyui.css' %}">
</head>
<script src="{% static 'js/tailwind.js' %}"></script>
<body data-theme="dark">
    <div class="h-screen flex justify-center items-center">
        <div class="p-14 border shadow-lg rounded-lg w-1/2 hover:shadow-xl transition-shadow duration-300 ease-in-out">
            {% block content %}{%endblock%}
        </div>
    </div>
</body>
</html>
